.container_go {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gamer-over {
    display: flex;
    position: relative;
    background-color: #FFF;
    height: 220px;
    width: 500px;
    border-radius: 10px;
}

.btn-go {
    width: 90%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008CCC;
    color: rgb(245, 242, 242);
    margin: 0px 0px 0px 20px;
}
  
button:hover{
    background-color: #008bccd8;
}

.btn_gameplay{
    margin: 170px 0px 0px 50px;
}

.textgo{
    position: absolute;
    display: flex;
    margin: 20px 0px 0px 160px;
    color: #dc3741;
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
}