.container_go {
    background-image: url("/src/data/Map/gameBack.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gamer-over {
    display: flex;
    position: relative;
    background-color: #FFF;
    height: 220px;
    width: 500px;
    border-radius: 10px;
    border-color: #000000;
    border-style: ridge;
}

.btn-go {
    width: 90%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008CCC;
    color: rgb(245, 242, 242);
    margin: 0px 0px 0px 20px;
}
  
button:hover{
    background-color: #008bccd8;
}

.btn_gameplay{
    margin: 160px 0px 0px 50px;
}

.textgo{
    position: absolute;
    display: flex;
    margin: 10px 0px 0px 80px;
    color: #dc3741;
    font-size: 60px;
    font-weight: bold;
    user-select: none;
    text-shadow: 
    -1px -1px 0px #000000, 
    -1px 1px 0px #FFF,                    
     4px -1px 0px #000000,                  
     1px 0px 0px #FFF;
}