.container_win {
    background-image: url("/src/data/Map/gameBack.png");
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gamer-win {
    display: flex;
    position: relative;
    background-color: #FFF;
    height: 300px;
    width: 560px;
    border-radius: 10px;
    border-color: #000000;
    border-style: ridge;
    justify-content: center;
    align-items: center;
}
  
button:hover{
    background-color: #008bccd8;
}

.btn_gameplay{
    margin: 210px 0px 0px 0px;
}

.textWin{
    position: absolute;
    display: flex;
    margin: 30px 0px 0px 0px;
    color: #dc3741;
    font-size: 35px;
    font-weight: bold;
    user-select: none;
    text-shadow: 
    -1px -1px 0px #000000, 
    -1px 1px 0px #FFF,                    
     2px -1px 2px #000000,                  
     1px 0px 2px #FFF;
}

.imgWin{
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 110px;
}