.one-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 700px;
    background-color: burlywood;
}