* {
    margin: 0;
}

#form-problemcode{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.problemcode-container {
    border: 20px solid rgba(148, 148, 148, 0.781);
    background-color: #ffffff;
    width: 300px;
    height: 300px;
}

.textarea-problem {
    background-color: #F8F8FC;
    border-radius: 10px;
    border: 1px solid #F8F8FC;
    outline: 0;
    min-width: 294px;
    min-height: 240px;
    max-width: 400px;
    max-height: 400px;
}