* {
    margin: 0;
}

#form-problemcode{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.problemcode-container {
    border: 15px solid rgba(148, 148, 148, 0.781);
    border-radius: 5px;
    background-color: #ffffff;
    width: 300px;
    height: 420px;
}

.textarea-problem {
    background-color: #F8F8FC;
    border-radius: 10px;
    border: 1px solid #F8F8FC;
    outline: 0;
    min-width: 294px;
    min-height: 300px;
    max-width: 400px;
    max-height: 600px;
}

.area-btn {
    display: flex;
    width: 100%;
}

.input-problem {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-left: 50px;
    font: 600 16px Poppins;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #48B8FA;
    color: #ffffff;
}

.btn-problem {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    font: 600 16px Poppins;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 25px;
    background-color: #48B8FA;
    color: #ffffff;
}

.text-problem {
    display: flex;
    justify-content: center;
}

.text-problem-p {
    margin: 14px;
}